In [1]:
import pandas as pd

In [3]:
data=pd.read_csv("epi_r.csv")

In [5]:
data.head()

,title,rating,calories,protein,fat,sodium,#cakeweek,#wasteless,22-minute meals,3-ingredient recipes,...,yellow squash,yogurt,yonkers,yuca,zucchini,cookbooks,leftovers,snack,snack week,turkey
0,"Lentil, Apple, and Turkey Wrap",2.500,426.0,30.0,7.0,559.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
1,Boudin Blanc Terrine with Red Onion Confit,4.375,403.0,18.0,23.0,1439.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,Potato and Fennel Soup Hodge,3.750,165.0,6.0,7.0,165.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,Mahi-Mahi in Tomato Olive Sauce,5.000,NaN,NaN,NaN,NaN,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,Spinach Noodle Casserole,3.125,547.0,20.0,32.0,452.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [30]:
df=pd.DataFrame(data,columns=['rating','calories','protein','fat','sodium'])

In [49]:
df.isna().sum()

rating      0
calories    0
protein     0
fat         0
sodium      0
dtype: int64

In [48]:
df.isnull().sum()

rating      0
calories    0
protein     0
fat         0
sodium      0
dtype: int64

In [46]:
df.dropna(inplace=True)

In [47]:
df

       rating  calories  protein   fat  sodium
0       2.500     426.0     30.0   7.0   559.0
1       4.375     403.0     18.0  23.0  1439.0
2       3.750     165.0      6.0   7.0   165.0
4       3.125     547.0     20.0  32.0   452.0
5       4.375     948.0     19.0  79.0  1042.0
...       ...       ...      ...   ...     ...
20047   3.125      28.0      2.0   2.0    64.0
20048   4.375     671.0     22.0  28.0   583.0
20049   4.375     563.0     31.0  38.0   652.0
20050   4.375     631.0     45.0  24.0   517.0
20051   4.375     560.0     73.0  10.0  3698.0

[15864 rows x 5 columns]

In [50]:
from sklearn.linear_model import LinearRegression

In [51]:
X=df.drop(['rating'],axis=1)
Y=df['rating']

# Build random forest model
from sklearn.ensemble import RandomForestRegressor
clf = LinearRegression()
clf.fit(X, Y)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [53]:
# Saving the model
import pickle
pickle.dump(clf, open('d_clf.pkl', 'wb'))

In [59]:
pd.set_option('display.float_format', str)

In [61]:
X.describe()

,calories,protein,fat,sodium
count,15864.0,15864.0,15864.0,15864.0
mean,6350.68299293999,100.32457135653051,346.9868255168936,6252.742309631871
std,359848.41786830855,3843.4623117544525,20459.329548921767,334042.078448393
min,0.0,0.0,0.0,0.0
25%,199.0,3.0,7.0,82.0
50%,333.0,8.0,17.0,296.0
75%,587.25,27.0,33.0,713.0
max,30111218.0,236489.0,1722763.0,27675110.0